[Unit]
Description=elevation-profile per-connection server
Requires = fcgi-elevation-profile.socket

[Service]
ExecStart=-/usr/local/bin/elevation-profile-repl
StandardInput=socket
User=elevation-profile
